.produkty {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  justify-items: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.navcontainer {
  background-color: #f9fafb;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navcontainer li {
  margin: 30px;
}

.card {
  position: relative;
  width: 220px;
  height: 320px;
  background: #122936;
  overflow: hidden;
  border-radius: 20px;
  margin: 30px;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #8ae1fc;
  transform: skewy(345deg);
  transition: 0.5s;
}

.card:hover:before {
  top: -70%;
  transform: skewy(390deg);
}

.card::after {
  content: "Istore";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 8em;
  color: rgba(0, 0, 0, 0);
}

.card .imgBx {
  position: relative;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  z-index: 1;
}

.card .imgBx img {
  max-width: 75%;
  transition: 0.7s;
}

.card:hover .imgBx img {
  max-width: 50%;
}

.card .contentBx {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.card .contentBx .name {
  display: flex;
  font-size: 25px;
  width: 200px;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.card .contentBx .price {
  font-size: 20px;
  color: aliceblue;
  font-weight: 500;
  letter-spacing: 1px;
}

.card .contentBx .buy {
  position: relative;
  top: 200px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: black;
  text-decoration: none;
  background: white;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBx .buy {
  top: 0;
  opacity: 1;
}

.košík {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.košík:hover {
  color: #8ae1fc;
}

.košíkP {
  position: fixed;
  left: 2%;
  bottom: 10%;
  width: 65px;
  background-color: #122936;
  backdrop-filter: blur(5px);
  border-radius: 10px;
}
.košíkP2 {
  position: fixed;
  left: 2%;
  bottom: 30%;
  width: 65px;
  background-color: #122936;
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

/* {
  border: 1px solid red !important;
}*/

.stranka {
  background: linear-gradient(42deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%), url(../public/pozadí.png);
  display: block;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
}

.logo {
  height: 100px;
  margin: 10px;
}

.row {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navbar-brand {
  width: 100px;
  height: 100%;
}

.obrazekP {
  margin: auto;
  width: 500px;
  height: auto;
  margin-top: 30px;
}

.sobrazek {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nazevP {
  width: 300px;
  padding-bottom: 30px;
}

.cenaP {
  width: 300px;
  padding-bottom: 30px;
}

.sinfo {
  height: 100%;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  margin-top: 30px;
}

.btext {
  position: relative;
  margin: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popisC {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-start: 30px;
  margin: 10px;
  margin-top: 70px;
}

.popisP {
  padding: 20px;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  color: black;
  text-align: center;
  margin-top: 70px;
}

.tlačítko {
  width: 200px;
  height: 70px;
  background-color: #122936;
  border-radius: 20px;
  border-style: none;
  color: #fff;
  font-size: 23px;
  letter-spacing: 3px;
  /*font-family: "Lato";*/
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all 0.5s ease;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.tlačítko:hover {
  transition: all 0.5s ease;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px;
  box-shadow: rgba(255, 255, 255, 0.15);
}

/*objednávka*/
.card-page {
  margin: 80px;
}

.card-page table {
  width: 100%;
  border-collapse: collapse;
}

.card-info {
  display: flex;
  flex-wrap: wrap;
}

.card-page th {
  text-align: left;
  padding: 5px;
  color: white;
  background-color: #8ae1fc;
  font-weight: normal;
}

.card-page td {
  padding: 10px 5px;
}

.card-page td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

/**/
.card-page td span {
  color: #8ae1fc;
  font-size: 12px;
}

.card-page td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #8ae1fc;
  width: 45%;
}

.total-price td:last-child {
  text-align: right;
}

.card-page th:last-child {
  text-align: right;
}

.card-page td:last-child {
  text-align: right;
}

.table-karta {
  font-size: 20px;
}

.dotaznik {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.tkoupit {
  margin-top: 20px;
  width: 200px;
  height: 70px;
  background-color: #122936;
  border-radius: 20px;
  border-style: none;
  color: #fff;
  font-size: 23px;
  letter-spacing: 3px;
  /*font-family: "Lato";*/
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all 0.5s ease;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.tkoupit:hover {
  transition: all 0.5s ease;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px;
  box-shadow: rgba(255, 255, 255, 0.15);
}
.dotaznik {
  width: auto;
}
.dotaznikN {
  color: black;
}
.onjednavkaF {
  display: flex;
  flex-direction: column;
}
.cvvp[type="text"] {
  width: 50px;
  height: 40px;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.5s;
}
.cvvp[type="text"]:focus {
  border-color: #8ae1fc;
  box-shadow: 0 0 8px 0 #8ae1fc;
}
.poled[type="text"] {
  width: 300px;
  height: 40px;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.5s;
}

.poled[type="text"]:focus {
  border-color: #8ae1fc;
  box-shadow: 0 0 8px 0 #8ae1fc;
}
.logothx {
  width: 200px;
}
.thx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #8ae1fc;
  width: 50vw;
}
.thx h2 {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .card-info p {
    display: none;
  }

  .card-page {
    margin: 0px;
    padding: 0px;
  }

  .total-price table {
    width: 100%;
  }

  .sinfo {
    justify-content: center;
    padding: 0;
    margin: 0%;
  }

  .popisP {
    font-size: 20px;
  }

  .stranka {
    width: 100%;
    height: 100%;
  }

  .dotaznik {
    justify-content: center;
    align-items: center;
  }
  .thx {
    display: none;
  }
  .navcontainer {
    display: none;
  }
  .košíkP {
    position: fixed;
    left: 2%;
    bottom: 10%;
    width: 30px;
    height: 30px;
    background-color: #122936;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .košíkP a {
    font-size: 16px;
  }
  .košíkP2 {
    position: fixed;
    left: 2%;
    bottom: 30%;
    width: 30px;
    height: 30px;
    background-color: #122936;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .košíkP2 a {
    font-size: 16px;
  }
  .objednavkaF {
    justify-content: space-around !important;
  }
}
