html,
.produkty {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.navcontainer {
  background-color: #f9fafb;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navcontainer li {
  margin: 30px;
}

.card {
  position: relative;
  width: 220px;
  height: 320px;
  background: #122936;
  overflow: hidden;
  border-radius: 20px;
  margin: 30px;
}
.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #8ae1fc;
  transform: skewy(345deg);
  transition: 0.5s;
}
.card:hover:before {
  top: -70%;
  transform: skewy(390deg);
}
.card::after {
  content: "Istore";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 8em;
  color: rgba(0, 0, 0, 0);
}
.card .imgBx {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  z-index: 1;
}
.card .imgBx img {
  max-width: 75%;
  transition: 0.7s;
}
.card:hover .imgBx img {
  max-width: 50%;
}
.card .contentBx {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.card .contentBx .name {
  font-size: 25px;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.card .contentBx .price {
  font-size: 20px;
  color: aliceblue;
  font-weight: 500;
  letter-spacing: 1px;
}
.card .contentBx .buy {
  position: relative;
  top: 200px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: black;
  text-decoration: none;
  background: white;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}
.card:hover .contentBx .buy {
  top: 0;
  opacity: 1;
}

/* {
  border: 1px solid red !important;
}*/

.stranka {
  background: linear-gradient(
      42deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url(../public/pozadí.png);
  display: block;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  height: 100px;
  margin: 10px;
}

.row {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navbar-brand {
  width: 100px;
  height: 100%;
}

.obrazekP {
  margin: auto;
  width: 500px;
  height: auto;
  margin-top: 30px;
}
.sobrazek {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sinfo {
  height: 100%;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  margin-top: 30px;
}
.btext {
  position: relative;
  margin: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popisP {
  width: 90%;
  margin: 5%;
  padding: 20px 10px;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  color: black;
  text-align: center;
}
.tlačítko {
  width: 200px;
  height: 70px;
  background: linear-gradient(to left top, #122936 40%, #c30115 60%);
  border-radius: 20px;
  border-style: none;
  color: #fff;
  font-size: 23px;
  letter-spacing: 3px;
  font-family: "Lato";
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all 0.5s ease;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.tlačítko:before {
}

.tlačítko:hover {
  transition: all 0.5s ease;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px;
  box-shadow: rgba(255, 255, 255, 0.15);
}
